[submodule "modules/mod-playerbots"]
	path = modules/mod-playerbots
	url = https://github.com/netweaver/mod-playerbots.git
[submodule "modules/mod-eluna"]
	path = modules/mod-eluna
	url = https://github.com/netweaver/mod-eluna.git
